<div class="card text-white bg-primary mt-2" style="max-width: 18rem; margin: auto;">
    <div class="card-header">
        <h3>Slot <%=slot%></h3>
    </div>
    <div class="card-body">
        <p class="card-text">You can park here</p>
        <button type="button" class="btn btn-dark">Park Here</button>
    </div>
</div>